@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-Black.ttf");
   src: url("../fonts/Mulish-Black.ttf") format("truetype");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-Medium.ttf");
   src: url("../fonts/Mulish-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-ExtraBold.ttf");
   src: url("../fonts/Mulish-ExtraBold.ttf") format("truetype");
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: "Mulish";
   src: url("../fonts/Mulish-Bold.ttf");
   src: url("../fonts/Mulish-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans-Bold.eot");
   src: local("Noto Sans Bold"), local("NotoSans-Bold"),
       url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"),
       url("../fonts/NotoSans-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Noto Sans";
   src: url("../fonts/NotoSans.eot");
   src: local("Noto Sans"), local("NotoSans"), url("../fonts/NotoSans.eot?#iefix") format("embedded-opentype"),
       url("../fonts/NotoSans.woff2") format("woff2"), url("../fonts/NotoSans.woff") format("woff"),
       url("../fonts/NotoSans.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PT Sans";
   src: url("../fonts/PTSans-Regular.eot");
   src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff"),
       url("../fonts/PTSans-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PT Sans";
   src: url("../fonts/PTSans-Bold.eot");
   src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff"),
       url("../fonts/PTSans-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}


html {
   scroll-behavior: smooth;
}

*::-webkit-scrollbar {
   @apply w-4px;
}

*::-webkit-scrollbar-thumb {
   @apply bg-white;
}

.form-input:not([type="file"]) {
   @apply py-10px px-16px;
}

.form-input[type="file"] {
   @apply py-10px;
}

form p.text-red-500 {
   @apply absolute m-0;
}


.scroll-style::-webkit-scrollbar {
   @apply h-6px w-6px;
}

.scroll-style {
   @apply pb-10px;
}

.scroll-style::-webkit-scrollbar-track {
   @apply bg-rarely-2;
}

.scroll-style::-webkit-scrollbar-thumb {
   @apply rounded-3px bg-rarely-0;
}